<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
  function onSubmit(){
    document.querySelector('#approval-form').submit();
  }
</script>
<div class='approval' style='width: <%= @approval_percentage %>%'><%= @approval_percentage %>%<br/>Approve</div>
<div class='disapproval' style='width: <%= 100 - @approval_percentage %>%'><%= 100 - @approval_percentage %>%<br/>Disapprove</div>
<%= form_tag('/save', id: 'approval-form') do %>
  <p>President Donald J. Trump</p>
  <label for='approve'>
    <input type='radio' id='approve' required=true name='approval' value=1 />
    I Approve
  </label>
  <label for='disapprove'>
    <input type='radio' id='disapprove' required=true name='approval' value=0 />
    I Disapprove
  </label>
  <button type='submit' class="g-recaptcha" data-sitekey="<%= ENV["TRUMPAPPROVAL_RECAPTCHA_KEY"] %>" data-callback='onSubmit'>Submit</button>
  <% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:success] %>
    <p class='vote-counted'><%= flash[:success] %></p>
  <% end %>
  <p><%= link_to 'How does this work?', '/info' %></p>
  <p><small><%= pluralize(@submissions.count, "vote") %> in the last 24 hours</small></p>
<% end %>
