<div class='approval' style='width: <%= @approval_ratio %>%'><%= @approval_ratio %>%</div>
<div class='disapproval' style='width: <%= 100 - @approval_ratio %>%'><%= 100 - @approval_ratio %>%</div>
<%= form_tag('/save') do %>
  <label for='approve'>
    <input type='radio' id='approve' required=true name='approval' value=1 />
    I Approve
  </label>
  <label for='disapprove'>
    <input type='radio' id='disapprove' required=true name='approval' value=0 />
    I Disapprove
  </label>
  <%= submit_tag 'Submit' %>
  <% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
  <% end %>
  <p><%= link_to 'How does this work?', '/info' %></p>
<% end %>
